appdirs==1.4.3
asgiref==3.2.5
astroid==2.4.1
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
distlib==0.3.0
dj-database-url==0.5.0
Django==2.1.5
django-bootstrap-form==3.4
django-crispy-forms==1.9.1
django-filter==2.2.0
django-js-asset==1.2.2
filelock==3.0.12
gunicorn==19.9.0
idna==2.9
inflection==0.3.1
isort==4.3.21
joblib==0.14.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==8.2.0
mysqlclient==1.4.6
numpy==1.18.2
pandas==1.0.3
pbr==5.4.4
php==1.2.0
pillow==7.1.2
pylint==2.5.2
python-dateutil==2.8.1
pytz==2019.2
Quandl==3.5.0
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
sqlparse==0.3.0
stevedore==1.32.0
toml==0.10.1
urllib3==1.25.8
virtualenv==20.0.10
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
whitenoise==4.1.2
wrapt==1.12.1
